{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}
    Bienvenue sur votre site d'annonces
{% endblock %}

{% block body %}

    <h2>Liste des dernières annonces</h2>



{% endblock %}
