{% extends "OCPlatformBundle::layout.html.twig" %}
{% block title %}
  Accueil - {{ parent() }}
{% endblock %}
{% block ocplatform_body %}
  <h2>Liste des annonces</h2>
  <ul class="pagination">
    <li{% for p == page %} class="active"{% endif %}>
      <a href="{{ path('oc_platform_home', {'page':}) }}"></a>
    </li>
    {% endfor %}
  </ul>
{% endblock %}
